@import "tailwindcss";

.MyContainer {
  max-width: 1440px;
  margin: auto;
  padding: 4px 134px;
  width: 100%;
  box-sizing: border-box;
}

/* Tablet View */
@media (max-width: 1024px) {
  .MyContainer {
    max-width: 900px;
  }
}

/* Mobile View */
@media (max-width: 768px) {
  .MyContainer {
    max-width: 100%;
    padding: 4px 15px;
  }
}
